<!-- import base html header -->
{% extends "base.html" %}

{% block topmenu %}
<div class="container">
  <div class="navbar-header">
    <a href="/" class="navbar-brand">StorageBright Backup Appliance</a>
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse" id="navbar-main">
    <ul class="nav navbar-nav">

      <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Backups <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/backups">View All</a></li>
            <li class="divider"></li>
            <li><a href="/backups/new">Add New Backup</a></li>
          </ul>
      </li>

      <li>
        <a href="/restore">Restore</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">{{ g.user.email }} <span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="download">
          <li><a href="/account">Edit Account</a></li>
          <li class="divider"></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </li>
    </ul>

  </div>
</div>
{% endblock %}

{% block content %}
{% if all_backups %}
    <div class="page-header">
        <h1 id="container">Backups</h1>
    </div>
{% endif %}

<div class="page-header">
  {% if all_backups %}
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr><th>Name</th><th>Location</th><th>Schedule</th><th>Last Backup</th><th class="text-center">Status</th><th>Actions</th></tr>
    </thead>
    <tbody data-link="row" class="rowlink">

      {% for backup in all_backups %}
      <tr>
        <td><a href="/backups/view/{{ backup.id }}">{{ backup.name }}</a></td>
        <td>{{ backup.server }} {{ backup.location }}</td>
        <td>
            {% if backup.interval == 1 %}
            Every day
            {% elif backup.interval == 2 %}
            Every week
            {% elif backup.interval == 3 %}
            Every month
            {% endif %}
            at {{ backup.start_time }}
            {% if backup.start_time == 12 %}
            PM
            {% elif backup.start_time == 24 %}
            AM
            {% elif backup.start_time > 12 %}
            PM
            {% else %}
            AM
            {% endif %}
        </td>
        <td>{{ backup.last_backup }}</td>
        <td class="text-center">
          {% if backup.status == 1 %}
            <img src="/static/images/loading.gif">
          {% elif backup.status == 2 %}
            <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
          {% elif backup.status == 3 %}
            <span class="glyphicon glyphicon-remove text-error" aria-hidden="true"></span>
          {% elif backup.status == 4 %}
            <span class="glyphicon glyphicon-remove text-warning" aria-hidden="true"></span>
          {% endif %}
        </td>
        <td class="rowlink-skip">
          <a href="#" class="btn btn-xs btn-success">Start Now</a>
          <a href="#" class="btn btn-xs btn-primary">Edit</a>
          <a href="#" class="btn btn-xs btn-warning">Pause</a>
          <a href="#" class="btn btn-xs btn-danger">Delete</a>
        </td>
      </tr>
      {% endfor %}
   
    </tbody>
  </table>
  {% else %}
    <div class="jumbotron vertical-center">
        <h1>Getting Started</h1>
        <p>To get started, schedule a backup task.</p>
        <p><a class="btn btn-success btn-lg" href="/backups/new">Add New Backup</a></p>
    </div>
  {% endif %}
</div> <!-- end page-header -->

{% endblock %}
