<!-- import base html header -->
{% extends "base.html" %}

{% block topmenu %}
<div class="container">
  <div class="navbar-header">
    <a href="/" class="navbar-brand">StorageBright Backup Appliance</a>
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse" id="navbar-main">
    <ul class="nav navbar-nav">

      <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Backup Jobs <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/backups">View All</a></li>
            <li class="divider"></li>
            <li><a href="/backups/new">Add New Backup Job</a></li>
          </ul>
      </li>

      <li>
        <a href="/restore">Restore</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">{{ g.user.email }} <span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="download">
          <li><a href="/account/edit">Edit Account</a></li>
          <li class="divider"></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </li>
    </ul>

  </div>
</div>
{% endblock %}

{% block content %}
<div class="page-header">
  <h1 id="container">Enable Backup</h1>
</div>

<div class="row">
    <div class="col-lg-6">

        <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Are you sure?</h3>
        </div>
        <div class="panel-body">
            <p>
            This backup job will be enabled and will run on schedule.
            </p>
        </div>
        </div>
 
    </div>
</div>

<div class="row">
<div class="col-lg-6">
    <form class="form-horizontal" method="post" action="">
        {{ form.hidden_tag() }}

        <div class="form-group">
            <div class="col-lg-12">
                <a href="/backups" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-primary">Enable</button>
            </div>
        </div>

    </form>
    <div style="display: none;" id="source-button" class="btn btn-primary btn-xs">&lt; &gt;</div></div>
</div>

{% endblock %}
